<div class="row-fluid">
    <div class="partial span12">
        <h1 class="title">Размещение</h1>
        <p>Для иногородних участников ретрита мы предлагаем помощь в размещении</p>
        <p>На Ваш выбор мы предлагаем Вам остановиться в следующих отелях:</p>
        <ul>
            <li>
                <p><b>Отель "Казацкий"</b></p>
                Стоимость размещения в одно местном номере 650 грн в сутки.<br>
                Стоимость размещения в двух местном номере 854  грн в сутки.<br>
                Стоимость размещения номере "Люкс" (2-х комнатный) 1378,48 грн в сутки.<br>
                <p><a href="http://www.kozatskiy.kiev.ua/">Сайт отеля</a></p>
            </li>
            <li>
                <p><b>Отель "Сенатор"</b></p>
                Стоимость размещения в одно комнатном номере 108 евро в сутки.<br>
                <p><a href="http://www.senator-apartments.com/rus/overview_sam.aspx">Сайт отеля</a></p>
            </li>
        </ul>
    </div>
</div>