<div class="row-fluid">
    <div class="partial span12">
        <h1 class="title">События</h1>
        <ul>
            <li>
                <p><strong>8 - 10 ноября 2013 Киев</strong></p>
                <p>Состоится первый визит Патрула Ринпоче в Киев с Учением на тему: <strong>"Как Учение Будды помогает нам в повседневной жизни".</strong></p>
                <p>Так же Ринпоче планирует в один из дней дать посвящение <strong>"Ригдзин Дюпа"</strong></p>
                <p><strong>Рассписание учений:</strong></p>
                <p>8 ноября начало в 19:00</p>
                <p>9 и 10 ноября начало в 10:00</p>
                <p><strong>Место проведения:</strong></p>
                <p>г. Киев, ул. Михайловская 1/3 вход с улицы Малой Житомирской. Отель "Казацкий".</p>
                <p><strong>Вход свободный</strong></p>
                <p>Регистрация на Учение будет доступна с 8 октября</p>
            </li>
        </ul>
    </div>
</div>