<div class="row-fluid">
	<div class="span12">
		<div class="heading">
			<h4 class="form-heading">События</h4>
		</div>
        <p>
            С 8 по 10 ноября состоится первый визит Дзогчен Раняка Патрула Ринпоче в Киев.
            Тема лекции Ринпоче: "Как Учение Будды помогает нам в повседневной жизни". Так же в один из дней Ринпоче планирует дать посвящение Ригдзин Дюпа.
            Приглашаются все желающие, вход на лекции свободный.
            Место проведения и детальное расписание будут выложены позже.
        </p>
		<a href="#/registration">Регистрация</a>
	</div>
</div>