<div class="row-fluid">
	<div class="span12">
        <div class="heading">
            <h4 class="form-heading">Проекты</h4>
        </div>
		<br>
		<p><strong>Издательство "Wisdom Treasury"</strong></p>
		<br>
		<p>
			<!-- <img src="img/img02.jpg" align="left" hspace="10"> -->
			Поскольку многие важные буддийские тексты до сих пор не доступны для западного читателя, Патрул Ринпоче открыл издательство "Сокровища Мудрости" (англ. "Wisdom Treasury") для сохранения, перевода и распространения важных буддийских текстов. Первоочередная задача издательства - сделать доступными тексты Лончен Ньинтик, публиковать книги и тексты первого Патрула Ринпоче и других великих лам прошлого, а так же книги Патрула Ринпоче. В 2004 году Патрул Ринпоче переиздал все труды Первого Патрула Ринпоче, состоящие из восьми томов на тибетском языке и раздал большую часть монахам монастыря Дзогчен в Тибете.
		</p>
		<br>
		<p><strong>Образование. Институт Зангдок Палри.</strong></p>
		<p>
			<img src="img/img01.jpg" align="left" hspace="10">
			Институт Зангток-Палри был официально открыт Патрулом Ринпоче в Бельгии летом 2003 года на базе бывшего фермерского подворья неподалёку от провинциального бельгийского городка Флорена и переделанного стараниями волонтёров и учеников в "город Дхармы" (англ. Dharma city) с целью поддержки изучения и практики буддийской философии.
		</p>
		<p>
			На курсах института можно изучать буддийскую мудрость и в особенности, очень драгоценную традицию тибетского буддизма Лончен Ньингтик. Эти курсы предоставляют чрезвычайно редкую и важную возможность изучать и практиковать истинный Путь Самоосвобождения под присмотром и мудрыми наставлениями настоящих преподавателей. Для этих целей в Институт по личному приглашению Патрула Ринпоче приехал квалифицированный лама кенпо Тубтен Лодро Ньима, который принимает активное участие в образовательном процессе, а сам Ринпоче разработал специальную программу для каждого курса и написал учебники. Обучение на английском языке с синхронным переводом на русский язык для студентов из России. В рамках института существует шестилетний курс "Щедра":
		</p>
		<p>
			Слово "Щедра" в переводе с тибетского означает колледж. Это уникальный шестилетний курс для практикующих, рассчитанный на людей, которые хотят глубже изучать Дхарму Будды, чтобы встать на Путь Самоосвобождения. Шестилетний курс для практикующих Дзогпа Ченпо, называемый «Совершенный Путь Самоосвобождения», создан как опора для учеников, желающих расширить и укрепить свою практику. Курс предполагает, что человек на шесть лет посвящает себя интенсивной медитативной практике и обучению. Необходимо обязательно ежегодно посещать Щедру Зангдок Палри, изучать программу, выполнять практики и сдавать экзамены.
		</p>
		<p>
			В институте Зангдок Палри занятия проводятся на основе двух программ. Первая охватывает обще-буддийское обучение. Вторая – это шестилетняя программа обучения практике Дзогчен. Обе программы проходят ежегодно в летние месяцы в Европе или в Тибете, когда предоставляется такая исключительная возможность.
		</p>
		<br>
		<p><strong>Благотворительность. Фонд Зангток-Палри.</strong></p>
		<p>
			Фонд Зангток Палри - это некоммерческая благотворительная организация, основанная в Бельгии в октябре 2000 года, основной целью которой являются целевые программы помощи обедневшим и лишенным средств существования жителям области Дзогчен (провинция Сычуань, Китай). Преобладающее население этой области ведёт кочевой образ жизни, рассеяно на площади десять тысяч квадратных километров и живёт в условиях экстремальной бедности, без образования и здравоохранения, существуя главным образом за счёт недостаточно развитых экономических отношений.
		</p>
		<p>
			<img src="img/img03.jpg" align="left" hspace="10">
			Главное здание храма Зангдок Палри предполагается как культурное, образовательное и медицинское учреждение и как ресурсный центр, где традиционные навыки и современные технологии объединятся, чтобы обогатить жизнь сегодняшней молодёжи, что послужит причиной возникновения более преуспевающего и самостоятельного тибетского сообщества в будущем. Потребности этого сообщества кратко можно определить в четырёх пунктах:
		</p>
		<p>
			Храм Зангток-Палри так же символизирует физическое воплощением Мандалы Гуру Падмасамбхавы в нашем мире, а его статус подобен Самье – первому Храму Тибета, который построил в свое время сам Гуру Падмасамбхава. Официальное открытие Храма состоялось летом 2010 года.
		</p>
		<p>
			Из уже реализованных проектов Зангток-Палри в направлении образовательных программ стоит так же упомянуть успешное введение в эксплуатацию начальной школы для девочек и детей-сирот "Самбхота". Школа была построена в 2002 году и состоит из нескольких зданий. В том же году состоялось её официальное открытие и был набран пробный класс. За шесть лет своего существования многие люди из Европы и Азии оказали материальную школе и самим детям помощь, в которой они так нуждаются.
		</p>
		<p>
			Детям школы созданы все условия для проживания и получения образования: в ней есть своя кухня и столовая, три аудитории, складские и подсобные помещения, библиотека и большой двор. Для проживания построено общежитие из 15 комнат (каждая площадью 12 квадратных метров и рассчитана на 2-3 детей). В школе постоянно работают два учителя (учитель тибетского и китайского языка и арифметики) и обслуживающий персонал.
		</p>
	</div>
</div>