<div class="row-fluid">
    <div class="partial span12">
        <h1 class="title">Регистрация</h1>
        <div class="row-fluid">
            <div class="span4">
                <img src="img/img07.png">
            </div>
            <div class="span8">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label for="firstName" class="control-label">
                            Имя:
                        </label>
                        <div class="controls">
                            <input id="firstName" type="text">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="lastName" class="control-label">
                            Фамилия:
                        </label>
                        <div class="controls">
                            <input id="lastName" type="text">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="city" class="control-label">
                            Город:
                        </label>
                        <div class="controls">
                            <input id="city" type="text">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="email" class="control-label">
                            Эл. почта:
                        </label>
                        <div class="controls">
                            <input id="email" type="email">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox">Мне нужно проживание в Киеве. Подробнее смотрите <a href="#">здесь</a>
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="notes" class="control-label">
                            Примечания:
                        </label>
                        <div class="controls">
                            <textarea id="notes" rows="6" placeholder="Укажите пожалуйста детали Вашего размещения"></textarea>
                        </div>
                    </div>

                    <div class="offset3">
                        <button type="button" class="btn">Отменить</button>
                        <button type="button" class="btn btn-primary">Зарегистрироваться</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>