<div class="row-fluid">
	<div class="span12">
		<div class="heading">
			<h4 class="form-heading">Регистрация</h4>
		</div>

		<form class="form-horizontal">
			<div class="control-group">
				<label for="firstName" class="control-label">
					Имя:
				</label>
				<div class="controls">
					<input id="firstName" type="text">
				</div>
			</div>
			<div class="control-group">
				<label for="lastName" class="control-label">
					Фамилия:
				</label>
				<div class="controls">
					<input id="lastName" type="text">
				</div>
			</div>
			<div class="control-group">
				<label for="city" class="control-label">
					Город:
				</label>
				<div class="controls">
					<input id="city" type="text">
				</div>
			</div>
			<div class="control-group">
				<label for="email" class="control-label">
					Эл. почта:
				</label>
				<div class="controls">
					<input id="email" type="email">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox">Мне нужно проживание в Киеве. Подробнее смотрите <a href="#">здесь</a>
					</label>
				</div>
			</div>
			<div class="control-group">
				<label for="notes" class="control-label">
					Примечания:
				</label>
				<div class="controls">
					<textarea id="notes" rows="6" placeholder="Укажите пожалуйста детали Вашего размещения"></textarea>
				</div>
			</div>

			<div class="form-actions">
				<button type="button" class="btn">Отменить</button>
				<button type="button" class="btn btn-primary">Зарегистрироваться</button>
			</div>
		</form>
	</div>
</div>