<div class="row-fluid">
	<div class="span12">
		<p><strong>Патрул Ринпоче</strong></p>
		<p>
			<img src="img/patrulrinpoche01.jpg" align="left" hspace="10">
			<strong>Первый Патрул Ринпоче</strong>  родился в 1807 году в Дзачуке, области в Кхаме, и был признан До Друпчен Чжигмэ Осэром 	эманацией Ченрэзи и Шантидэвы. Он изучал сутры и тантры в Университете Дзогчена Шри Сингхи и достиг высших степеней. Он стал 	великим ученым и учителем, особенно связанным с распространением учений Дзогчен Лонгчен Нингтик, которые ему были переданы его 		главным учителем Чжигмэ Гялва Нюгу, одним из трех Чжигмэ - трех великих учеников Чжигмэ Лингпы (держателя линии преемственности 	Нингтик), и Шестым Дзогченом Ринпоче, Мингюр Намкэ Дорчже.
		</p>
		<p>
			Первый Патрул Ринпоче написал множество текстов, включая знаменитый Кунсанг Ламэ Шалунг (переведенный на английский как "Наставления моего совершенного учителя"), очень ясное и вдохновенное введение в учения Дзогчен. Многие великие ламы того времени, такие как Катог Ситу Ринпоче, Пятый Дзогчен Ринпоче и Тэртон Согял Лэраб Лингпа получили от него передачу учений Нингтик, и благодаря своей деятельности он смог распространить эту драгоценную линию преемственности Дзогчена и обеспечить ее дальнейшую непрерывную передачу на благо всех существ.
		</p>
		<p>
			Постоянно скитаясь, никогда не имея никакой собственности или своего монастыря, и часто сохраняя инкогнито, он учил в своей притягательной и уникальной манере, изменяя стиль в зависимости от способностей слушателей. В 1887 году, в возрасте восьмидесяти лет, он созвал всех своих учеников и подготовил их к своему уходу, напомнив им, что все непостоянно. Он предложил им задать любые вопросы, чтобы прояснить все возможные сомнения и дал свои последние благословения.
		</p>
		<p>
			Перевоплощение Патрула Ринпоче родилось в семье Раняк Друбчена Ринпоче, знаменитого ламы безумной мудрости и было признано Пятым Дзогченом Ринпоче, Тубтэн Чоки Дорчже, как его собственный коренной лама, Первый Раняк Патрул Ринпоче. После обучения в Университете Дзогчена Шри Сингхи он отправился распространять учения в провинцию Амдо на северо-востоке Тибета. Когда ему было двадцать пять лет, среди его учеников возникли разногласия, и он предупредил, что покинет их, если они не последуют его совету и не прекратят спор. Поскольку этого не произошло, он уединился в затворничестве и семь дней спустя преобразился в радужное тело дхармакаи. Все, что осталось его ученикам - это его волосы и ногти.
		</p>
		<p>
			Каждое из последующих перевоплощений Раняк Патрула Ринпоче появлялось в семье Раняк, где за прошедшие полтора столетия рождались и другие великие ламы. Внучка Раняк Друбчена Ринпоче была сестрой Второго Раняк Патрула Ринпоче, который был признан Шестым Дзогченом Ринпоче, Чжигдрал Чжангчубом Дорчже. После разрушения монастырей и запрещения религиозной практики в Тибете, последовавших за китайской оккупацией Третий Раняк Патрул Ринпоче заявил, что оставаться незачем. Вскоре после этого, без видимой причины, он заболел и умер.
		</p>
		<p>
			Перед смертью он сказал своей сестре, с которой был очень сильно связан, чтобы она не беспокоилась и что они вскоре встретятся вновь. Когда у нее родился второй сын, он был признан Раняк Патрулом Ринпоче, но большинство лам решило не сообщать этого из-за продолжающихся препятствий деятельности тулку Патрулов.
		</p>
		<p>
			<strong>Дзогчен Раняк Патрул Ринпоче</strong> - признан подлинным перевоплощением, или тулку, великого Первого Дза Патрула Ринпоче и Третьего Раняк Патрула Ринпоче Его Святейшеством Далай-ламой, Его Святейшеством Миндролинг Триченом Ринпоче и Его Святейшеством Дзогченом Ринпоче. Он так же родился в провинции Кхам (Восточный Тибет) в 1963 году и жил со своей семьей до четырнадцати лет, после чего поступил в монастырь Дзогчен. Ребенком ему не надо было учиться читать - его отец однажды показал ему алфавит и различные комбинации букв и этого оказалось достаточно. Он не ходил в школу и жил как простой деревенский мальчик. Примечательно было то, что он не ел мяса, что весьма необычно среди кочевников Тибета.
		</p>
		<p>
			В монастыре Дзогчен он был посвящен в монашеский сан Чоктрул Друкпа Кучунгом Ринпоче, перевоплощением знаменитого ламы безумной мудрости Друкпа Кунлэ, от которого позднее получил бесчисленные учения и передачи. Он провел в монастыре Дзогчен шесть лет, изучая и практикуя такие дисциплины, как песнопение, священные танцы и музыку, рисование, приготовление мандал, торма и чтение мантр, пока в совершенстве не овладел ими всеми.
		</p>
		<p>
			Затем он перешел в Университет Дзогчена Шри Сингхи, где учился у таких великих учителей, как Кэнчен Дэчен Намдрол, Кябчже Дзогчен Ринпоче, Чоктрул Друкпа Кунлэ Ринпоче, Чоктрул Пэма Калсанг Ринпоче, Чоктрул Токдэн Тулку Ринпоче, Кэнчен Давэ Осэр, Кэнчен Пэма Цеванг, Кэнчен Кунанг Осэр и Кандро Дасал Вангмо (перевоплощение Драку Лосал Вангмо), которые передали ему глубокое и обширное сокровище учений Будды и даровали в конце обучения степени кэнпо и дордже лобпона.
		</p>
		<p>
			После смерти матери, которая и в предыдущих воплощениях была близкой родственницей каждому из Раняк Патрулов Ринпоче, он провел один год в уединенном затворничестве в пещере, где Первый Патрул Ринпоче написал "Наставления моего совершенного учителя" и множество других комментариев. Дзогчен Раняк Дза Патрул Ринпоче стал особенно известен передачами учений пхова, на которых всегда присутствует большое количество практикующих, как мирян, так и монахов.
		</p>
		<p>
			Первый Патрул Ринпоче был почитаем всеми школами тибетского буддизма. Он жил во время возникновения движения римэ и был одним из его активных сторонников. Римэ - это движение, которое относится с почтением ко всем линиям преемственности и традициям всех школ, которое сохраняет и распространяет все их различные учения. Патрул Ринпоче прославился способностью учить текстам каждой школы в присущей ей манере и нынешний Дзогчен Раняк Дза Патрул Ринпоче полон решимости практиковать такой подход.
		</p>
	</div>
	
</div>