/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
    color: #101050;
    background-image: url(../img/background1.jpg);
    font-family: Tahoma, Verdana, Helvetica;
    font-weight: normal;
    line-height: 160%;
}

body, html, .container-fluid {
    height: 100%;
}

a:link, a:visited {
    color: #fa6020;
}

.credit {
    margin: 20px 0;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -60px;
    overflow: auto;
}

#main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
    margin: 0 auto -60px;
}

#footer {
    background-color: #8c2629;
    width: 970px;
    margin-right: auto;
    margin-left: auto;
    color: #fef09b;
}

#push, #footer {
    height: 60px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 10px 15px #000;
    box-shadow: 0 5px 6px #474747;
}

.carousel .container {
    position: relative;
    z-index: 9;
}

.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}

.carousel .item {
    height: 400px;
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 400px;
}

.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 20px;
    margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
    margin-top: 10px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .span4 p {
    margin-left: 10px;
    margin-right: 10px;
}


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

    .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
    }

    .carousel .item {
        height: 500px;
    }

    .carousel img {
        width: auto;
        height: 500px;
    }

    .featurette {
        height: auto;
        padding: 0;
    }
    .featurette-image.pull-left,
    .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
    }
}

/*
    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }*/
.view {
/*    min-height: 100%;
    height: auto !important;*/
    overflow: auto;
    height: 100%;
    background-color: #fef09b;
}

.partial {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.shadow {
    -webkit-box-shadow: 0 0px 100px #000;
    box-shadow: 0 10px 50px #000000;
}

.container {
    width: 970px;
}

.navbar {
    margin-bottom: 0px;
}

/************/
/* HEADINGS */
/************/

h1.title {                                        /* page titles */
    border-bottom: 1px solid #D6DDB9;
    clear: left;
    font-family: Myriad Pro, Myriad Web Pro Regular, Lucida Grande, Geneva, Trebuchet MS, sans-serif;
    font-size: 1.833em;
    font-weight: 600;
    line-height: 1.272em;
}

h2.title {                                        /* block titles, node titles */
    font-family: Myriad Pro, Myriad Web Pro Regular, Lucida Grande, Geneva, Trebuchet MS, sans-serif;
    font-size: 1.13em;
    /*font-size: 1.333em;*/
    font-weight: 600;
    text-transform: uppercase;
}

h2.title a:link,
h2.title a:visited {
}


h2.title a:hover,
h2.title a:active {
    color: #619CBE;
    text-decoration: none;
}

div.node h2.title {
    border-bottom: 1px solid #d6ddb9;
}

p {
    font-size: 1em;
    font-weight: normal;
    line-height: 160%;
    margin: 10px 0;
}